[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-pushbot"]
	path = luci-app-pushbot
	url = https://github.com/zzsj0928/luci-app-pushbot
[submodule "luci-app-dnsproxy"]
	path = luci-app-dnsproxy
	url = https://github.com/muink/luci-app-dnsproxy
[submodule "luci-app-smartdns"]
	path = luci-app-smartdns
	url = https://github.com/pymumu/luci-app-smartdns
[submodule "openwrt-smartdns"]
	path = openwrt-smartdns
	url = https://github.com/pymumu/openwrt-smartdns
