[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-pushbot"]
	path = luci-app-pushbot
	url = https://github.com/zzsj0928/luci-app-pushbot
[submodule "luci-app-dnsproxy"]
	path = luci-app-dnsproxy
	url = https://github.com/muink/luci-app-dnsproxy
[submodule "luci-app-bandix"]
	path = luci-app-bandix
	url = https://github.com/timsaya/luci-app-bandix
[submodule "openwrt-bandix"]
	path = openwrt-bandix
	url = https://github.com/timsaya/openwrt-bandix
[submodule "openwrt-passwall-packages"]
	path = openwrt-passwall-packages
	url = https://github.com/Openwrt-Passwall/openwrt-passwall-packages
[submodule "openwrt-passwall"]
	path = openwrt-passwall
	url = https://github.com/Openwrt-Passwall/openwrt-passwall
[submodule "openwrt-passwall2"]
	path = openwrt-passwall2
	url = https://github.com/Openwrt-Passwall/openwrt-passwall2
[submodule "luci-app-mosdns"]
	path = luci-app-mosdns
	url = https://github.com/sbwml/luci-app-mosdns
[submodule "luci-app-lucky"]
	path = luci-app-lucky
	url = https://github.com/gdy666/luci-app-lucky
[submodule "luci-app-easytier"]
	path = luci-app-easytier
	url = https://github.com/EasyTier/luci-app-easytier
